@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,400&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Raleway');
$font-mont:'Montserrat', sans-serif;
$font-sans:'Noto Sans KR', sans-serif;
$font-raleway: 'Raleway', sans-serif;
$font-base-color: #666;
$font-em-color: #333;

* {
  padding: 0;
  margin: 0;
}
*, :before, :after {box-sizing: border-box;}
body {overflow-x: hidden; background-color: #f0f0f0;}
a {
  font-family: 'NotoSans-Light','맑은 고딕', 'Malgun Gothic', sans-serif;
  text-decoration: none;
  cursor: pointer;
  color: #555;
  &:link, &:visited, &:active {
    color: $font-base-color;
  }
}
img, fieldset {
  border: none;
  vertical-align: top;
}
.blind {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  }
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}