@charset "utf-8";
@import "_reset.scss";
@import "_common.scss";

// 서브페이지 
.sub_wrap {
  width: 100%;
  overflow: hidden;
  img {max-width: 100%;}
}
body.portfolio {
  background: #2c2c39;
}
#portfolio_view {
  width: 90%;
  margin: 3em auto;
  & >div {
    float: left;
  }
  & .tit {
    // position: -webkit-sticky;
    // position: sticky;
    // top: 150px;
    width: 21%;
    position: fixed;
    p {
      font-size: 5em;
      font-family: $font-raleway;
      &.category {
        color: #ff5377;
        margin: 0.6em 0;
      }
      &.period {
        color: #444;
        font-weight: bold;
        font-size: 4em;
        margin: 0.7em 0;
      }
    }
    h2 {
      font-family: $font-sans;
      color:#fff;
      font-size: 2.6em;
      font-weight: 100;
      line-height: 1.2em;
      span {font-weight: 400;}
    }
    .btns a {
      color: #666;
      display: block;
      padding: 1em 0;
      border-bottom: 1px solid #353535;
      padding-left: 10px;
      font-size: 1.1em;
      &:hover {
        color: #ff5377;
      }
    }
    .exp {
      clear: both;
      padding: 30px 10px 0;
      color: #333;
      line-height: 1.5em;
      font-size: 1.1em;
      font-weight: 200;
      text-align: justify;
    }
  }
  & .cont {
    width: 70%;
    margin-left: 30%;
    text-align: center;
    padding-bottom: 3em;
    img {
      max-width: 100%;
    }
    // span {display: none;}
    span {
      font-family: $font-sans;
      display: inline-block;
      padding: 4px 17px 7px 16px;
      margin-bottom: 10px;
      float: left;
      color: #fff;
      // background:rgba(255,255,255,0.8);
      border: 1px dashed rgba(255, 255, 255, 0.5);
      border-radius: 40px;
      a {color: #999; margin-left: 10px;}
      a:hover {color: #ff5377;}
    }
    p:not(:first-child) {margin-top: 100px;}
    p {padding-top: 2em;}
  }
}
body.portfolio.mob {
  background: #0f2c4e;
  .category {color: #65f5ef  !important;}
  h2 {color: #fff !important;}
  .period {color: #33379f !important;}
  .btns a {color: #656f84 !important; border-bottom: 1px solid #2b405c !important;}
  .btns a:hover {color: #65f5ef !important;}
  #portfolio_view .cont span {border: 1px dashed rgba(255,255,255,0.5);
    background: rgba(50, 56, 183, 0);
    color: #fff;}
}
body.portfolio.leaflet {
  background: #f9eac5;
  .category {color: #ff4f85 !important;}
  h2 {color: #333 !important;}
  .period {color: #d8c8a2  !important;}
  .btns a {color: #b3ab96 !important; border-bottom: 1px solid #e1cfa1 !important;}
  .btns a:hover {color: #ff4f85 !important;}
  #portfolio_view .cont span {
    border: 1px dashed rgba(0,0,0,0.5);
    background: rgba(255, 255, 255,0.5);
    color: #333;}
  .cont p:not(:first-child) {margin-top: 50px !important;}
}
a.btn_top {
  width: 70px;
  height: 70px;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 0;
  margin-bottom: 0;
  display: none;
  z-index: 72;
  background:rgba(0, 0, 0, 0.3) url(../img/btn_go_top.png) 50% 50% no-repeat;
  transition:0.5s;
}
a.btn_top:hover {
  background:rgba(0, 0, 0, 0.7) url(../img/btn_go_top.png) 50% 50% no-repeat;
}
a.btn_close {
  position: fixed;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 2em;
  background: rgba(0,0,0,0.4);
  text-align: center;
  margin-right: 1.25%;
  margin-top: 30px;
  transition:0.5s;
  &:hover {
    background:rgba(0, 0, 0, 0.7);
  }
}
footer {
  background: #333;
  padding: 20px;
  color: #fff;
  font-weight: 100;
  font-size: 0.8em;
}

@media only screen and (max-width : 1700px){  
  .column {width: 24%;}
  #portfolio_view {
    margin: 1em auto;
    & >div {
      position: relative !important;
      width: 100%;
      &.cont {
        margin-left: 0;
        width: 100%;
      }
      h2 br {display: none;}
      h2 {float: left;}
      .period {float:right; margin: 0 !important;}
      .btns {clear: both;}
      .exp {margin-bottom: 1em;}
    }
    & .tit {width: 100%;}
  }
}
@media only screen and (max-width : 1500px){  
  .column {width: 32.33333333333333%;}
  a.btn_top {
    transform:scale(0.7);
  }
}
@media only screen and (max-width : 1024px){  
  .column {width: 49%;}
  #portfolio_list {
    .btn {font-size: 1.4em;}
  }
  #portfolio_view {
    & .tit {
      p {
        font-size: 3em;
        &.period {
          font-size: 2.5em;
        }
      }
      h2 {
        font-size: 2.3em;
      }
      .btns {padding-top: 1em;}
    }
  }
}
@media only screen and (max-width : 768px){ 
  .textArea { 
    width: 246px;
    span {font-size: 1.7em;}
  }
}
@media only screen and (max-width : 600px){  
  .column {
    width: 99%;
    margin: 3% 1.5%;
    // margin-bottom: 10px;
  }
  .item .text br {display: none;}
  #portfolio_list {
    &>div {
      padding:  1em 0;
    }
    .btn {font-size: 1.2em;}
  }
  #portfolio_view {
    & .tit {
      p {font-size: 2.2em;}
      h2 {font-size: 1.6em;}
      .btns a {font-size: 1em;}
    }
  }
  a.btn_top {
    transform:scale(0.6);
  }
}
@media only screen and (max-width : 450px){
  #visual {/* height: 65vh;  position: relative;*/}
  .textArea { 
    width: 186px;
    transform: translate(-50%, -80%);
    p { margin: 3em 0 0;height: 1.5em;}
    span {font-size: 1.3em;}
  }
  #portfolio_slide{
    & .bx-wrapper {
      // .bx-pager {bottom: 10px;}
      .bx-controls {display: none;}
    }
  }
  #portfolio_list {
    &>div {
      width: 90%;
    }
    .btn {font-size: 1em;}
  }
  #portfolio_view {
    & .cont {
      span {
        display: inline-block;
        padding: 4px 17px 7px 16px;
        margin-bottom: 10px;
        float: none;
        border: 1px dashed #000;
        border-radius: 40px;
        font-size: 0.9em;
      }
      p:not(:first-child) {margin-top: 40px;}
    }
  }
  body.portfolio.leaflet {
    .cont {
      span {float: left !important;}
      p:not(:first-child) {margin-top: 20px !important;}
    }
  }
}